    <div class="bg-dark text-light">
        <div class="contanier">
            <div class="row">
        <div class="col-12 col-md-6 p-5">
            <h1 class="text-center">BMI Calculator</h1>
<p class="mt-4">Body Mass Index (BMI) is widely used as an indicator of body fat content. Your weight alone is not sufficient to establish if you are in a healthy weight range. For example, a tall but slender person can weigh more than a short but plump individual. But the former may enjoy better health as long as their weight is suitable for their height. The ideal weight is also likely to differ for men and women of similar heights.

    How then do you know whether you fall in the healthy weight range or not? Your BMI solves this confusion. It correlates your weight with your height and evaluates whether your weight is appropriate for your stature. You can use a BMI calculator to find out your BMI.
    
    Although not an exact measurement of body fat percentage, in most cases, BMI is a reliable tool for establishing risk levels for illnesses, especially ailments related to excess body fat. Many healthcare professionals use BMI to determine effective doses for medicines. Often people with a higher BMI need higher doses. Hence, it is crucial to be aware of your BMI to ensure your overall wellness.</p>
        <div class="text-center mt-5">
            <a href="login">
    <button class="btn btn-light">Get started</button>   
</a>
        </div>    
</div>
        <div class="col-12 col-md-6 p-5">
                <img [src]="img" class="img-fluid" style="border-radius: 10px;" alt="">
        </div>
        </div>
        <div class="row p-5">
            <h2 class="text-center"> Why use a  BMI Calculator</h2>
            <p class="text-center">Using a BMI calculator is a convenient way to determine your BMI score quickly. Below are some key reasons to use this tool</p>
            <div class="col-12 col-md-3">
                <div class="text-center border border-2 shadow" style="border-radius: 1.25rem;">
                    <i class="fa-solid fa-heart-pulse fs-1 my-2"></i><br>
                    <h4>Heart Monitorig</h4> 
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center border border-2 shadow" style="border-radius: 1.25rem;">
                <i class="fa-solid fa-person fs-1 my-2"></i>
                <h4>Fitness Goals</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center border border-2 shadow" style="border-radius: 1.25rem;">
                <i class="fa-solid fa-weight-scale fs-1 my-2"></i>
                <h4>Weight Management</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center border border-2 shadow" style="border-radius: 1.25rem;">
                <i class="fa-solid fa-notes-medical fs-1 my-2"></i>
                <h4>Health Assessment</h4>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <h2 class="text-center">What are the risks of being underweight?</h2>
            <p class="text-center">Having a BMI below 18.5 is also fraught with health risks, such as the ones listed below:</p>
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-3 text-center my-3">
                <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/tools-and-calculators/bmi_assets/images/underWeight.svg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-3  mt-3">
                <ol start="1">
                 <li> Vitamin deficiencies </li>
                 <li> Anaemia (low red blood cell count and hence reduced capacity to carry oxygen) </li>
                 <li> Diminished immunity or the ability to ward off infections </li>
                 <li>Osteoporosis or brittle bones that break easily </li>
                 <li>Malnutrition </li>
                 <li> Developmental delays in children </li>
                 <li>Hormonal imbalances </li>
                 <li>Disruptions in women's menstrual cycle causing complications in conception </li>
                </ol>
            </div>
            <div class="col-12 col-md-3"></div>
            <p class="text-center">Being underweight can also be an indication of underlying health conditions like anorexia. Hence, if your BMI calculator shows a value matching the underweight category, you should consult a medical professional.</p>
        </div>
    </div>
</div>

